.nav-list {
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 5px 0; /* Adds spacing for the underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
}


.nl-black::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: black; /* Adjust to your desired line color */
    transition: width 0.3s ease; /* Smooth transition for animation */
}


.nl-black:hover::after {
    width: 100%; 
}

.nl-white::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: white; /* Adjust to your desired line color */
    transition: width 0.3s ease; /* Smooth transition for animation */
}


.nl-white:hover::after {
    width: 100%; 
}


.user-list {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #333;
    padding: 5px 0; /* Adds spacing for the underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
}


.user-list::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: black; /* Adjust to your desired line color */
    transition: width 0.3s ease; /* Smooth transition for animation */
}


.user-list:hover::after {
    width: 100%; 
}
