.nav-list {
    position: relative;
    text-decoration: none;
    display: inline-block;
    color: #333; /* Adjust to your desired text color */
    padding: 5px 0; /* Adds spacing for the underline */
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.nav-list::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: black; /* Adjust to your desired line color */
    transition: width 0.3s ease; /* Smooth transition for animation */
}

.nav-list:hover {
    color: black;
}

.nav-list:hover::after {
    width: 100%; 
}

/* Tailwind-compatible customization for Choices.js */
.choices__inner {
    @apply border rounded-md p-2 text-gray-700 shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none;
}
.choices__list--dropdown .choices__item--selectable {
    @apply text-gray-800 hover:bg-gray-100;
}
