@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: 'Mnbook';
  src: url('/public/font/Maison_Neue_Book.ttf');
}

@font-face {
  font-family: 'Mnbold';
  src: url('/public/font/Maison_Neue_Bold.ttf');
}

@font-face {
  font-family: 'britReg';
  src: url('/public/font/Britanica Regular.ttf');
}

@font-face {
  font-family: 'britHeavy';
  src: url('/public/font/Britanica Extra Bold.ttf');
}

@font-face {
  font-family: 'helvetica';
  src: url('/public/font/Helvetica.ttf');
}

@font-face {
  font-family: 'britBlack';
  src: url('/public/font/Britanica Black.ttf');
}

input:-webkit-autofill {
    background-color: transparent !important; /* Makes the background transparent */
    -webkit-box-shadow: 0 0 0 30px #F7CE55 inset !important; /* Matches your field's background color */
    -webkit-text-fill-color: #C06100 !important; /* Ensures text color is visible */
}

input:-webkit-autofill:focus {
    background-color: transparent !important; /* Ensures styling persists on focus */
    -webkit-box-shadow: 0 0 0 30px #F7CE55 inset !important;
    -webkit-text-fill-color: #C06100 !important;
}
