/* resources/css/filament/hrd/lowongan.css */
.filament-page {
    background-image: url('/images/lowongan-hrd.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* 
h1 {
    color: #6f5074;
} */